* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.html{
    font-size: 62.5;
}
.header,
.container,
.footer {
    width: 100%;
    min-width: 150px;
    height: 150px;
    flex-wrap: wrap;
}
.c1 {
    width: 25px;
    height: 25px;
    background-color: dodgerblue;

}
.c2 {
    width: 25px;
    height: 25px;
    background-color: darksalmon;
    
}
.c3 {
    width: 25px;
    height: 25px;
    background-color: darkorange;
    
}
.header {
    background-color: darkgray;
}
.container {
    background-color: dimgray;
}
.footer {
    background-color:darkgray;
}